<div class="container">
    <div class="page">
        <%= render "shared/application_nav" %>
        <div class="d-flex align-items-center justify-content-center fill">
            <div class="text-center">
                <h1>About?</h1>
                <p>yes.</p>
            </div>
        </div>
    </div>
<div>