<style>
body {
    background-image: url("assets/Artboard.png");
    background-size: cover;
    background-repeat: no-repeat;
}
</style>

<div class="container">
    <div class="page">
        <%= render "shared/application_nav" %>
        <div class="d-flex align-items-center justify-content-center fill">
            <div class="text-center">
                <h1>Bookshelf Demo</h1>
                <p class="muted">Created by Fox Gardner</p>
            </div>
        </div>
    </div>
<div>